# Default ignored files
/shelf/
/.idea/workspace.xml
*.iml
target/

#Intellij
out/
.idea/
.idea_modules/
*.ipr
*.iws

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*



.allure/
allure-results/
logs/
.classpath
.project
/gradlew
/gradlew.bat
.todo
*.properties